<!DOCTYPE html>
<html lang="en">
<head>
    <title>Handball Planning</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="assets/template_styles.css">
    <!-- code display -->
    <link rel="stylesheet" href="assets/highlight/styles/tomorrow.css">
    <script src="assets/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<div class="container-fluid header p-3">
    <h1>Handball Planning</h1>
</div>
<nav class="navbar navbar-expand-lg px-3 py-2 mb-2">
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon navbar-dark"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>
    </div>

</nav>

<div class="container-lg">

    <h2 class="mt-3">Brief</h2>
    <h4 class="mt-3">I have been asked to develop a website for Handball New Zealand.
        Jerry the President of NZ Handball, has approached me, and we have discussed the key aims for the website.
        The aims have been listed out in order of priority and this means that I can complete and have
        feedback on tasks at regular intervals.

        Some research that I have done before starting to create this site include thinking about who will be using my site
        and the kind of designs and experiences they will expect from the site. I have also done some competition analysis
        to see what designs and feature other websites that have for similar function. I have completed a basic plan for the website
        so that I have a loose plan whilst designing the pages.

       </h4>
        <hr>

    <h2>Boards and sprints</h2>

    <h3>Project Backlog</h3>
    <img src="assets/images/project_backlog.png" alt="" style="width:100%">

    <h3 class="mt-5">Big Picture Overview Plan</h3>
    <img src="assets/images/project_backlog_detail.png" alt="" style="width:100%">

    <h2>Describing Relevant Implications</h2>
    <h3>Aesthetics</h3>
<h4> Products are expected to look good. This is because it makes the product more enjoyable
    and easier to use. A basic method to get an aesthetic result is CRAP. Contrast (big/small,
    dark/light, colourful/plain). Repetition (using the same visual elements). Alignment
    (precise formatting). Proximity (same visual elements together) (grouping). If you follow
    CRAP the website will most likely look visually appealing. </h4>

    <h3>Accessibility</h3>
    <h4>The implication of web accessibility is making sure that a website
        is accessible to all people (as much as possible). Many people have
        vision problems or mobility problems or people may be accessing them
        with very limited bandwidth. Search engines also need to be able to find
        the website and categorise it correctly. To make the website usable to all
        users these are some things that should be included. All images need descriptive
        “alt” tags so a screen reader can read them out or a search engine can know what
        they are about. Use in body CSS font-size 100% and use “em” measures for fonts and
        finally make sure colours are okay for colour blind users.</h4>


    <h3>Future Proofing </h3>
    <h4>Future Proofing is keeping the website up to date. This means that content needs
    to be easily changed so that old content can be removed and new content can be added.
    In many cases, the user of the site wouldn’t have the knowledge to be able to maintain
    the website from the code. This means that it is essential for the users to be able to
    maintain the website from the interface. This user needs forms and option buttons that
    are only available to them. Through making a website that uses a database to store content
        and making the site available to manage the content, the website would be able to
        be kept up to date.
</h4>

    <h3>Functionality</h3>
    <h4>The functionality implication means that the website needs to work properly. It should be
    consistent across different browsers and mobile devices. It also needs to load all of its
    assets quickly. To achieve this images need to be compressed, the site should be tested for
    different screens and finally moved off your device to another and tested.</h4>


        <hr>
        <!-- Heading levels -->
            <h2>Sprint 1</h2>
    <hr>
            <h3>Aim</h3>
    <h4> To get a home page design sorted. I am going to trial some different visuals and begin adding in some basic content</h4>

    <h3>Homepage Trials</h3>

    <div class="row">
        <div class="column">
            <img src="assets/images/option_2.png" alt="" style="width:100%">
        </div>

        <div class="column">
            <img src="assets/images/option_3.png" alt="" style="width:100%">
        </div>

        <div class="column">
            <img src="assets/images/option_5.png" alt="" style="width:100%">
        </div>
    </div>

    <h4>I thought that a black and white theme would be great for the site as it's 'New Zealand colours'.
    I wanted to implement this with the background being ombre. Above are three different mockup options that
    I made to get the general idea of how the homepage should look. </h4>

    <img class="w-50" src="assets/images/option-7.png" alt="" style="width:100%">
    <h4>This was another option for the banner on the homepage because the black and white theme
    did lack colour and was looking quite bland. But this design is a but too bold and busy for the site.</h4>


        <hr>

            <h2>Sprint 2</h2>
    <hr>
            <h3>Aim</h3>
    <h4>My aim for this sprint is to finalise the design of the homepage.</h4>


    <img class="w-50" src="assets/images/1st_trial_top.png" alt="" style="width:100%">
    <img class="w-50" src="assets/images/1st_trial_bottom.png" alt="" style="width:100%">
    <h4>After discussing with the Jerry we decided that the design of the banner above was the best suit
    for the website. As the photo as the banner was going to be too bold for the website. This
    is because the purpose of the website is to inform people so it needs to be as clear as
    possible. Having a big image like this as the banner could be overwhelming for the user
    and make their experience worse. </h4>

    <img class="w-50" src="assets/images/option_4.png" alt="" style="width:100%">
    <h4>Above shows another trial for the homepage. This is because although that banner was the design that was
        decided on, I continued to make more versions of the homepage following this design. I added the photo
    to try to give the page more colour but I didn't really like the placement of it. So I rejected this idea.</h4>

    <img class="w-50" src="assets/images/homepage-final-1.png" alt="" style="width:100%">
        <img class="w-50" src="assets/images/homepage-final-2.png" alt="" style="width:100%">
    <h4>Above is the final design of the homepage. I changed the events from horizontal to vertical so that the
    user could see what else is on the page, in order to hopefully make them interested. I added the photos and the lines
    next to the subtitles in order to add a bit of colour to the page. </h4>

    <h3>Testing in Mobile View</h3>
    <h4>When I tested the homepage in mobile view, all the styling messed up. This is the image
    below to the left. So I had to do a lot of restyling in order to fix all this mess. The image
    on the right is what the homepage looks like in a mobile view now. </h4>
    <div class="column-3">
        <img src="assets/images/PM_homepage_bad.png" alt="" style="width:100%">
    </div>
    <div class="column-3">
        <img class="ms-5" src="assets/images/PM_homepage_good.png" alt="" style="width:100%">
    </div>

    <h3 class="reflect">Reflection</h3>
    <h4>In this sprint, I finished making the homepage of the website. In the next sprint, I am going to begin
    making the how to play page. </h4>
            <hr>



      <h2 class="s-3">Sprint 3</h2>
    <hr>
    <h3>Aim</h3>
    <h4>My aim for this sprint is to make a how to play page. I have already made a plan of
    how I would like the page to look so in this sprint, I am hoping to execute it. </h4>

    <h3>Plan</h3>
    <img class="w-50" src="assets/images/htp_plan.png" alt="" style="width:100%">
    <h4>I made a mock up design of how I would like the how to play page to look. </h4>

      <div class="column-2">
           <img src="assets/images/htp-final.png" alt="" style="width:100%">
          <img src="assets/images/htp-final-2.png" alt="" style="width:100%">
        </div>
        <div class="column-2">
            <img src="assets/images/htp_code.png" alt="" style="width:100%">
            <img src="assets/images/htp_code2.png" alt="" style="width:100%">

        </div>


    <h4> Because I made a plan before making the how to play page, I didn't have to do
    any trial and error for this page so not much went wrong whilst making this page.</h4>

    <h3 class="htp">Error</h3>
    <h4>Although I didn't have any issues with the actual designing of this page. I did
    have an issue with the footer being halfway up the page.Below is what the page looked like and
    the code for the footer. </h4>

     <div class="column-2">
            <img src="assets/images/footernotatbottom.png" alt="" style="width:100%">
        </div>
        <div class="column-2">
            <img src="assets/images/permenant_fix_divinWRONGpot.png" alt="" style="width:100%">
        </div>

    <h3>Fix</h3>
    <h4>Below is the how to play page and footer code once the footer is fixed. The issue was the placement
    of the div in the footer code. In the footer code that is wrong, you can see that the div is above the footer.
    Once moving the div down below the footer, it was fixed. So this was quite a simple fix yet it took me a while to
    realise the problem.</h4>
     <div class="column-2">
            <img src="assets/images/fixed_2.png" alt="" style="width:100%">
        </div>
        <div class="column-2">
            <img src="assets/images/perm_fix_divinRIGHTspot.png" alt="" style="width:100%">
        </div>
    <h4></h4>

    <h3>Reflection</h3>
    <h4>This sprint was successful (except for the footer problem) since I had made a clear plan of how I wanted the
    page to look. This really speed up the development process of this page. In the next sprint, I am going
    to make a regions page. I am going to make a solid plan before building the page to try to speed up the process
    of developing this page aswell. </h4>
        <hr>

     <h2>Sprint 4</h2>
    <hr>
    <h3>Aim</h3>
    <h4>My aim in this sprint is to make a regions page. This page will contain information for Wellington,
    Christchurch and Dunedin. I have now made a clear plan of how I want this page to look so in this sprint I
    would like to execute that. </h4>

    <h3>Plan</h3>
    <img class="w-50" src="assets/images/wgtn_plan.png" alt="" style="width:100%">
    <h4>This is the plan for the Wellington section of the regions page. Christchurch and
    Dunedin will follow this same format. </h4>

    <h3>Radio Button</h3>
    <h4>For this page I decided to make a radio button. This is so that users can choose
    which region they want information about and then it will pop up with only that region. This
    saves the user time from scrolling through a bunch of information that they don't want or need. </h4>

    <div class="row">
        <div class="column-2">
            <img src="assets/images/radio-before.png" alt="" style="width:100%">
        </div>
        <div class="column-2">
            <img src="assets/images/radio-after.png" alt="" style="width:100%">
        </div>

        <h4>Above is the radio button before and after changing the styling. The left is before. The right is after.</h4>
    </div>

     <div class="row">
        <div class="column">
            <img src="assets/images/wgtn-final.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="assets/images/chch-final.png" alt="" style="width:100%">
        </div>
         <div class="column">
            <img src="assets/images/dun-final.png" alt="" style="width:100%">
        </div>
    </div>
    <h4>This is the final output for the regions page</h4>

    <h3>Reflection</h3>
    <h4> Again I had made a plan for the regions page before starting to code. Because of this I had
        a clear idea of how it was all going to look and so the development process for the Wellington
        page was reasonably quick. However for the Christchurch and Dunedin sections, I had to change my
        plan since Dunedin and Christchurch both only have one club. Therefore having a clubs section is not
        necessary. This means I made to rethink the layout for these regions and alter my plan.
    </h4>

    <hr>
     <h2>Sprint 5</h2>
    <hr>

    <h3>Aim</h3>
    <h4>To make a static news page so that the page is ready for future sprints, where I can develop this page more
    so that people can add, update and delete news.</h4>

    <h3>Plan</h3>
        <img class="news-plan" src="assets/images/news_plan.png" alt="">


    <img class="w-50" src="assets/.png" alt="" style="width:100%">
    <h4> Again I had made a plan for the news page before starting to code it so because of this
    I had a clear idea of how it was all going to look and the code that needed to go into so I didn't come
    across any errors. This is a static page so the user is not able to add, update or delete any information
    on the news page yet. This is something that I will add in future sprints. </h4>


     <img class="img-fluid " src="assets/images/news_page_code1.png"> </div>
            <img class="img-fluid-right news_code" src="assets/images/server_news_newspagelook1.png"> </div>

            <h4 class="ms-5"> This code above is the first test in news.html of how the code for how the news page will look when the information from the insert
                into from above is printed. This information from the table is selected from the server.py which can be seen in the picture
                above to the right. It is then called by the {% for row in news %} so that the information prints on the page. To the right is what the test of
                my news page. This is what it currently looks like.
            </h4>
        <hr class="lines">

    <h2 class="ms-5">Sprint 6</h2>
<hr>

    <h3 class="mt-3 ms-5">Aim</h3>
            <h4 class="ms-5">In this sprint I will start the first part of the databases. I want to begin by making two tables which are linked together.
                    I have created a news page so that I can make a news page where people can see the current handball news. </h4>

            <h3 class="mt-3 ms-5">Plan</h3>
            <img class="img-fluid" src="assets/images/member_table_plan.png">
            <img class="img-fluid-right me-2" src="assets/images/news_table_plan.png">


                <h4 class="mx-5">I have to make a member table and a news table. The primary key will be member_id for the member table and then the foreign
                key for the news table will be member_id. </h4>
                <img class="img-fluid-right my-2 me-3" src="assets/images/insertinto_member_news.png"> </div>
                <img class="img-fluid my-2 ms-4" src="assets/images/member_news_table.png"> </div>
            <h4 class="ms-4"> This code above on the left is the creating of the two tables and above on the right is
                inserting information into them.</h4>


            <h3 class="ms-5 mt-5">News Page Board</h3>
            <img class="img-fluid ms-5" src="assets/images/endsprint_1_board.png"> </div>

            <h3 class="ms-5 mt-3" >Reflection</h3>
            <h4 class="mx-5">In this sprint, I was able to create a member and news table and join them together. In the next sprint,
                people will be able to post on the news page and my hope is that you will be able to see who posted it.
                I am going to add buttons to add, update and delete news from the news page.
            </h4>

        <hr class="my-5">

<h2 class="ms-5">Sprint 7</h2>
            <hr class="mx-5">

            <h3 class="ms-5 mt-3">Aim</h3>
            <h4 class="mx-5">My aim for this sprint is to be able to add,update and delete posts on my news page.
                I want the user to be able to add, update and delete news on the website and not have to go back
                into the code to do so.
            </h4>

            <h3 class="ms-5"> This is my plan for the formpage </h3>
            <img class="img-fluid my-2 ms-5" src="assets/images/newspage_plan.png"> </div>


            <h3 class="ms-5"> Code </h3>
            <img class="img-fluid my-2" src="assets/images/addbutton.png"> </div>
            <img class="img-fluid my-2" src="assets/images/updatedelete.png"> </div>
            <h4 class="mx-5"> I added these buttons into news.html so that user can choose to add, update or delete. </h4>

            <h4 class="mx-5"> I have to make a formpage in order for news to be added and/or updated. When the user presses the
                update or add news button it will send them to a separate page where they can add/update information and then
            </h4>


            <img class="formpage ms-2" src="assets/images/newsformpagecode_1.png"> </div>
            <img class="formpage-2" src="assets/images/newsformpagecode_2.png"> </div>
            <img class="formpage-3" src="assets/images/newsformpagecode_3.png"> </div>
            <h4 class="ms-5"> This code above is the new_formpage code in the server</h4>



            <img class="formpage-4 ms-4" src="assets/images/newsformpagecode4.png"> </div>
            <h4 class="ms-5"> This code above is the news_formpage.html page </h4>

            <h3 class="ms-5 mt-4">Test</h3>
            <img class="formpage-5 ms-4" src="assets/images/s2_newspage.png"> </div>
            <img class="formpage-5 ms-4" src="assets/images/ifaddbutton.png"> </div>
            <img class="formpage-5 ms-4" src="assets/images/ifupdatebutton.png"> </div>
            <h4 class="mx-5">On the left is what the news page now looks like, in the middle is the page that appears after
                pressing the add button, and finally on the right is what the news_formpage looks like after pressing the
                update button. The only difference between pressing add and update is pressing update keeps the information
                that was previously entered in the boxes.
            </h4>

            <h3 class="ms-5 mt-4">News page Board</h3>
            <img class="img-fluid ms-5" src="assets/images/sprint_2board.png">

            <h3 class="ms-5 mt-4">Reflection</h3>
            <h4 class="mx-5">In this sprint, I made it possible for the user to add, update and delete information on the news
                page on the website. This means the user doesn't have to go into the code everytime they want to change the news page.
                In the next sprint, I want to make it possible for a user to login.
            </h4>

        <hr class="my-5">



        <h2 class="ms-5">Sprint 8</h2>
            <hr class="mx-5">

            <h3 class="ms-5"> Aim </h3>
            <h4 class="ms-5"> To make a very basic styled login page and then make the develop the page further
                 by making the user to be able to login to the website. </h4>

            <h3 class="ms-5 mt-3">Plan</h3>
            <img class="img-fluid ms-5" src="assets/images/loginpage_plan.png">

                <h3 class="ms-5 mt-5"> Code </h3>
                <img class="img-fluid-right me-4" src="assets/images/login_pagecode.png"> </div>
                <img class="img-fluid" src="assets/images/login_servercode.png"> </div>
            <h4 class="ms-5"> The picture on the left shows the code in my server.py and the picture on the right shows the code for
                the login page. When a user logs in a session starts and so to logout the session has to end. This can be seen at the bottom of
                the picture on the left. This is also in the server. This is so that the user can log out. </h4>

        <img class="login-plan ms-5" src="assets/images/login_plan.png"> </div>
        <h4 class="ms-5">This is the plan for the design of the login page. </h4>


            <h3 class="ms-5">Test</h3>
            <img class="img-fluid ms-5" src="assets/images/login.png"> </div>
            <img class="img-fluid-right me-2" src="assets/images/afterlogin.png"> </div>

            <h4 class="ms-5"> Above on the left is the page that the user gets sent to after pressing the login button. The user
                enters the information, if its incorrect an error message will print that says "your credentials are not recognised".
                On the right is what prints after they have logged in. This is so that the user knows that they have logged in
                and their information.
            </h4>

            <h4 class="mx-5"> Below is a picture of the code in layout.html. This is so that once the user is logged in, the button changes in the
                top right corner to log out. The code {% if session %} essentially means if logged in. So if a user is logged in
                then "login" in the top right corner will change to "logout". I also have code in server.py so that when "log out" is pressed the
                session is ended.
            </h4>
            <img class="img-fluid my-2 ms-5" src="assets/images/logout_layout.png"> </div>

            <h3 class="ms-5 mt-4">Login Page Board</h3>
            <img class="img-fluid ms-5" src="assets/images/sprint_3_board.png">


            <h3 class="ms-5 mt-4" >Reflection</h3>
            <h4 class="mx-5">In this sprint, I made it so that the user can now login and logout. However this currently doesn't
                change anything. The user will see the website the same whether logged in or not. The other issue is that you have
                to already be a member in the code in order to login. Currently there is no way to sign up and have then be added into the
                member table from the website. This is something I would like to add in a later version. In the next sprint, I am
                going to add more styling to the login page.
            </h4>

            <hr class="my-5">


 <h2 class="ms-5">Sprint 9</h2>
    <hr>
            <h3 class="ms-5">Aim</h3>
    <h4 class="ms-5">To add more styling to the login page and make it easier for the user to navigate and more
    aesthetic.</h4>

    <div class="row">
        <div class="column-2">
            <img src="assets/images/login.png" alt="" style="width:100%">
        </div>
        <div class="column-2">
            <img src="assets/images/login_after.png" alt="" style="width:100%">
        </div>
    </div>

    <h4 class="ms-5"> On the left was the original design of the login page and on the right is after making the
        decision that the original design could be improved. I added in a "Don't have an account?" and then a button
        that leads to the sign up page. This lets the user know that they have to sign up first. Without this some users
        may get confused. Everything else changed on the login page is mainly for the aesthetics.
   </h4>

    <div class="row">
        <div class="column-2">
            <img src="assets/images/credentials_before.png" alt="" style="width:100%">
        </div>
        <div class="column-2">
            <img src="assets/images/credentials_after.png" alt="" style="width:100%">
        </div>
    </div>

    <h4 class="ms-5">Above is another small addition I made to the login page. This alerts the user that something has gone
    wrong and tells them clearly the issue.</h4>

    <div class="row">
        <div class="column">
            <img src="assets/images/banner_before.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="assets/images/banner_1:2.png" alt="" style="width:100%">
        </div>
         <div class="column">
            <img src="assets/images/banner_after.png" alt="" style="width:100%">
        </div>
    </div>

    <h4 class="ms-5">This is the banner that appears to let the user know that they have logged in. The photo on the left is the first
    trial of this banner. It would stay there until the user logged out. This banner does it's job as it is very obvious and
    clear but overtakes the page. So on the right, is the newest version of the "you have logged in" banner idea. This still
    is very obvious and lets the user know that they have logged in but more subtle and it is also able to be dismissed. </h4>

    <img class="w-50 ms-5" src="assets/images/loggedin_alert_code.png" alt="">
    <h4 class="ms-5">This is the code for the dismissible alert telling the user that they have logged in</h4>

    <h3 class="ms-5">Reflection</h3>
    <h4 class="ms-5">In this sprint, I made some changing to the design of the login page and the "you have loggin in" banner. In the
    next sprint I am going to start on a draw page. </h4>
<hr>

  <h2 class="ms-5">Sprint 10</h2>
            <hr class="mx-5">

            <h3 class="ms-5"> Aim </h3>
            <h4 class="ms-5"> To make draw page where people can see who is playing, when, where etc. I will have to make
                a draw table in order to do this. In this sprint, I want to create the table and
                make the draw page.
            </h4>

            <h3 class="ms-5 mt-3">Plan</h3>
            <img class="img-fluid ms-5" src="assets/images/draw_table.png">

                <h3 class="ms-5"> Code </h3>

                <img class="img-fluid-right my-2 me-4" src="assets/images/create_draw.png"> </div>
                <img class="img-fluid my-2" src="assets/images/insertinto_draw.png"> </div>
            <h4 class="ms-5"> Creating the table and inserting values
            </h4>
            <h3 class="ms-5">Tests</h3>
            <img class="draw-2" src="assets/images/draw_code1.png"> </div>
            <img class="draw" src="assets/images/draw_server_output1.png"> </div>

            <h4 class="mx-5"> This is my code so far and the output that it produces.</h4>

            <h3 class="ms-5 mt-4">Draw Page Board</h3>
            <img class="img-fluid ms-5" src="assets/images/sprint_5_board.png">

            <h3 class="ms-5 mt-4" >Reflection</h3>
            <h4 class="mx-5">In this sprint, I wanted to create the draw table and print out a simple draw. I have done this but the output
                is not quite right as the date, opponent 1, oppenent 2, location etc is printed out multiples times instead of just once and
                then all the information below. In the next sprint I plan to fix this and also make the draw possible to be edited from the
                user interface.
            </h4>

            <hr class="my-5">


            <h2 class="ms-5">Sprint 11</h2>
            <hr class="mx-5">

            <h3 class="ms-5"> Aim </h3>
            <h4 class="ms-5"> To change the draw page so that you can edit it from the website and not have to go into the code.
            </h4>

            <h3 class="ms-5 mt-3">Plan</h3>
            <img class="img-fluid ms-5" src="assets/images/sprint6_plan.png">

                <h3 class="ms-3">Code</h3>
                <img class="drawpage ms-2" src="assets/images/editdraw_1.png"> </div>
                <img class="drawpage" src="assets/images/editdraw_2.png"> </div>
                <img class="drawpage" src="assets/images/editdraw_3.png"> </div>

            <h3 class="ms-5">Tests</h3>
            <img class="draw-3" src="assets/images/draw_buttons.png"> </div>
            <img class="draw-4" src="assets/images/draw_output_2.png"> </div>

            <h4 class="mx-5"> This is my code so far and the output that it produces.</h4>


            <h3 class="ms-5 mt-4">Draw Page Board</h3>
            <img class="img-fluid ms-5" src="assets/images/sprint_6_board.png">



            <h3 class="ms-5 mt-4" >Reflection</h3>
            <h4 class="mx-5">This sprint I was able to make the draw on the website so that it could be edited without the user having
                to go into the code to change the info. However all users are able to edit the draw which is not good as I don't want
                anyone to be able to edit the draw. So this needs to be fixed in the next sprint.
            </h4>

            <hr class="my-5">

            <h2 class="ms-5">Sprint 12</h2>
            <hr class="mx-5">

            <h3 class="ms-5"> Aim </h3>
            <h4 class="ms-5"> My aim this sprint is to change the draw page so that only users logged in with the authorisation 0 can edit the draw page.
            </h4>

            <h3 class="ms-5 mt-3">Plan</h3>
            <img class="img-fluid ms-5" src="assets/images/sprint7_plan.png">

                <h3 class="ms-3">Code</h3>
                <img class="drawpage ms-2" src="assets/images/draw_authorisation=0.png"> </div>
                <img class="drawpage" src="assets/images/draw_authorisation!=0.png"> </div>
                <img class="drawpage" src="assets/images/draw_ifnotloggedin.png"> </div>
                <h4 class="mx-5"> In the picture on the left is the code for when the users authorisation number is 0. Only when the
                    users authorisation is 0 is when buttons for adding, updating and deleting the draw will be on the page. The middle picture
                    is the code for when the user is logged in but authorisation is not 0. Because I wanted the output to look different for if
                    the user can edit the draw or not, I had to make a {% if session and session['authorisation'] != 0 %}. The picture on the right
                    is code for if the user is not logged in. If I didn't write this code in then when the user is not logged in nothing would show up.
                 </h4>

                 <h3 class="ms-5">Tests</h3>
                <img class="draw-6" src="assets/images/draw_output1.png"> </div>
                 <img class="draw-6" src="assets/images/draw_error.png"> </div>


                 <h4 class="mx-5">
                     The picture above to the right is what a user who isn't logged in or a logged in user with an authorisation number that is not 0's
                     draw page would look like if their layout was kept the same for users with authorisation number 0. The layout needs be set out this
                     way for users with authorisation = 0 as the update and delete buttons need to be between each game (as seen below on the left).
                    </h4>
                    <h4 class="mx-5 mt-4">
                     However it is not practical for other users. This is why instead I used {% if session and session['authorisation'] !=0 %}
                     so that I could change the layout to look like the picture below to the right. If I tried to use this layout when authorisation = 0
                     then when the delete and update buttons appear, the page would look like the picture on above to the left (which is not practical at
                     all) so that was not an option.
                    </h4>
                     <h4 class="mx-5 mt-4">
                    After a lot of trial and error, when an user has an authorisation number = 0 then their page looks like below to the left and if a user is not logged
                    in or is logged in and authorisation number is not 0 then their page looks like below to the right.
                </h4>
                    <h4 class="mx-5 mt-4">
                    I had to make a {% if 'member_id' not in session %} statement as otherwise nothing would print when not logged in. Or if I had
                    the table without that statmement it would print twice for users logged in. Therefore I had to include {% if 'member_id' not in session %}.
                </h4>


            <img class="draw-5" src="assets/images/draw_authorisation=0_output.png"> </div>
            <img class="draw-6" src="assets/images/draw_output3.png"> </div>

            <h3 class="ms-5 mt-4">Draw Page Board</h3>
            <img class="img-fluid ms-5" src="assets/images/sprint_7_board.png">



            <h3 class="ms-5 mt-4" >Reflection</h3>
            <h4 class="mx-5">In this sprint, I changed the draw page so that only users that are logged in with the authorisation
                number 0 can update, delete and add to the draw. It took some trial and error to figure out how the layout would all
                work, so that when the user is not logged in, a draw still appears for them but also so that the draw doesn't print
                twice for the logged in users.
            </h4>

            <hr class="my-5">

<hr>
            <h2 class="ms-5 mt-5">Sprint 13</h2>
            <hr class="mx-5">
            <h3 class="ms-5"> Aim </h3>
            <h4 class="ms-5"> My aim for this sprint is to make the information an user enters into the sign up page
                insert into member table so that the user can then login.


            </h4>

            <h3 class="ms-5 mt-3">Plan</h3>
            <img class="img-fluid ms-5" src="assets/images/sprint9_plan.png">

                <h3 class="ms-5">Code</h3>
                <img class="signup" src="assets/images/member_code.png"> </div>
                <img class="member" src="assets/images/member_output.png"> </div>


                <h4 class="mx-5"> I made a member page where users with authorisation 0 can update, add and delete member information.
                    In the picture above on the right is what a user who is logged in with authorisation 0 will see when they press on
                    members.
                 </h4>

                 <img class="img-fluid ms-5" src="assets/images/member_layout.png"> </div>

                 <h4 class="mx-5">Only members logged in with authorisation 0 have the option of the member Page
                     on their nav bar.
        The user fills out the form with the info and then presses submit. Once they have pressed submit their info is now
                     in the member table.

                 </h4>

                 <img class="img-fluid ms-5" src="assets/images/member_notloggedin.png"> </div>
                 <h4 class="mx-5">This is the website page when you press the sign up button. From here the user needs to
                     press the big "sign up here" button which sends them to the update member page.
                     The user fills out the form with the info and then presses submit. Once they have pressed submit their
                     info is now in the member table.
                 </h4>
                 <h3 class="ms-5 mt-4">Testing </h3>
                 <img class="img-fluid" src="assets/images/member_fillout.png"> </div>
                 <img class="img-fluid-right me-4" src="assets/images/member_login.png"> </div>
                 <h4 class="mx-5">Above on the left is signing up and above on the right is logging in.</h4>

                 <img class="img-fluid " src="assets/images/member_proof_hannahlogin.png"> </div>
                 <img class="img-fluid-right me-3" src="assets/images/member_loginpaul.png"> </div>
                 <img class="img-fluid-right me-3" src="assets/images/member_proof_membertable.png"> </div>
                 <h4 class="mx-5">Once logged in the website will let you know. To check that user information
                     has been inserted into the member table. I logged into a user who has authorisation 0 and so
                     I can check the in the member page that the information the user just entered is there. To the right
                     shows that the information the user entered is in the member page.
                 </h4>

                 <h3 class="ms-5 mt-4">Login Page Board</h3>
                 <img class="img-fluid ms-5" src="assets/images/sprint_9_board.png">


            <h3 class="ms-5 mt-4" >Reflection</h3>
            <h4 class="mx-5">In this sprint, the user can now sign up and then login using the information they used to sign
                up. I also made a member page that can only be seen by logged in users with the authorisation number, 0. These
                uses can also delete, update members. They were also able to see the users passwords which is
                a confidentiality issue which I have now fixed. Some issues right now is under authorisation the user can type anything
                and it will be accepted. The other issue is that an users username has to be unique so if a user try to enter a username
                that is already in the database then essentially nothing will happen. The users information will fail to be inserted into
                the member table but also no error message will appear either. So the user wouldn't know that their sign up failed or if
                they do realise, it is unlikely they would realise why. So that is something that needs to be fixed.
            </h4>


   <h2 class="ms-5">Sprint 14</h2>
    <hr>
    <h3 class="ms-5">Aim</h3>
    <h4 class="ms-5">My aim in this sprint is to add more styling to the signup page. </h4>

    <img class="w-50 ms-5" src="assets/images/signup-final.png" alt="" style="width:100%">
    <h3 class="ms-5 mt-5">Reflection</h3>
<h4 class="ms-5"> Because I had made the login page, I was able to base the layout
        of this page off the login page.
      Because of this I had a clear idea of how it was all  going to look and the code
        that needed to go into so I didn't come across any errors for the design. I also made a
'already have an account?' and then a button which goes to the login page. </h4>

            <hr class="my-5">
            <h2 class="ms-5">Errors</h2>
            <hr class="mx-5">

            <h3 class="ms-5 mt-4" >Game Date and Game time</h3>
            <h4 class="mx-5">Users are able to enter whatever they like in the gamedate and gametime sections
                when adding/updating the draw. This opens up opportunity for user mistakes and errors. Below is an Example
            of how users were able to enter text that was not times or dates.</h4>
                <img class="img-fluid ms-5" src="assets/images/gametime_output_before.png">
                <img class="img-fluid-right me-2" src="assets/images/draw_date_output_before.png">
                <h4 class="mx-5">Below is the new code for gametime (on the left) and gamedate (on the right) that ensures
                    that users are only able to enter dates and times</h4>
                <img class="img-fluid ms-5" src="assets/images/gametime_code_after.png">
                <img class="img-fluid-right me-2" src="assets/images/draw_date_after.png">

                <h4 class="mx-5">Below is the new output after the new code. On the left is what happens when entering the gamedate
                    and on the right is what happens when entering the gametime.
                </h4>
                <img class="gamedate ms-5" src="assets/images/gamedate_output_after.png">
                <img class="gamedate me-2" src="assets/images/gametime_output_after.png">

            <h3 class="ms-5 mt-4">Authorisation</h3>
            <h4 class="mx-5">I had a similar problem as above with users being able to enter anything when
                signing up and choosing an authorisation number. I fixed this by making it a dropdown menu with
                only two choices number 1 or 0. This way the user would have to have an authorisation number of
                0 or 1. Before this the user could enter anything as their authorisation. Below shows how a user
                was able to put "authorisation" as their authorisation number. </h4>
                <img class="img-fluid ms-5" src="assets/images/authorisationisauthorisation.png">

            <h4 class="mx-5">On the left is what the authorisation area of the sign up page looked like before. As you can see
                it was a text box, and so you could enter anything. But now as you can see on the right, it is a dropdown menu so
                the user can only choose 1 or 0. However, it is reasonably unrealistic on a website that the any user signing up would
                have the option to choose their level of authorisation, so this is something that could potentially be fixed later.
            </h4>
            <img class="img-fluid ms-5" src="assets/images/authorisation_before_output.png">
            <img class="img-fluid-right" src="assets/images/authorisation_output_after.png">


    <h3>Images (landscape fits better than portrait)</h3>
    <!-- one image -->
    <div class="row mb-2">
        <div class="col-md-12 my-2">
            <img class="img-fluid mx-auto d-block my-2" src="assets/images/place_holder.png"> </div>
        </div>
    <!-- two images -->
    <div class="row">
        <div class="col-md-6 my-2">
           <img class="img-fluid mx-auto d-block" src="assets/images/place_holder_sm.jpg">
        </div>
        <div class="col-md-6 my-2">
            <img class="img-fluid mx-auto d-block" src="assets/images/place_holder_sm.jpg">
        </div>
    </div>
        <hr>

    <h3>Video Test Example</h3>
        <video controls>
            <source src="assets/vids/Complex_processes.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
            molestie consequat, vel illum dolore eu feugiat nulla facilisis at
            vero eros et accumsan et iusto odio dignissim qui blandit praesent
            luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
        <hr>
</div>
<!-- -->
<div class="container-lg mb-2">
    <h2> Relevant Implications Summary</h2>
    <!-- groovy bootstrap list -->
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Content for list item
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Content for list item
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Content for list item
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
        </li>
    </ol>
    <hr>
</div>

<div class="container-lg">
<h2>Example code presentations</h2>
    <p>These do not need to be used extensively but look great in the right place</p>
    <!-- pre stands for pre-formatted and will render text as it appears in the htm code -->
    <!-- this means extra line breaks appear hence the code starting with no spacings or line breaks-->
<h3>Some SQL</h3>
<pre style="font-size: 1em;"><code class="SQL">SELECT track_name as "Tracks",
album_name as "Album", album_artist as "Artist" --Interesting comment
FROM music_table
WHERE track_name like "R%";</code></pre>
<h3>Some Python</h3>
<pre style="font-size: 1em;"><code class="Python"># interesting comment
def review_fruit(l):
    for x in l:
        output = "{:&le; 10} -- {: &gt;4}".format(x[0], x[1])
        print(output)
    return None</code></pre>
    <h3>Some CSS</h3>
<pre style="font-size: 1em;">
<code class="css">/* interesting comment */
:root{
--base-back: rgb(150,150,150);
--black: rgb(0,0,0);
}
body{
margin: 0;
padding: 0;
font-size: 100%;
}</code></pre>
<h3>Some HTML</h3>
<!-- to present html code on an html coded web page raises an interesting problem -->
<!-- the code needs to be converted into "escape" characters to handle the < and > -->
<!-- there are online tools to do it https://codebeautify.org/html-escape-unescape -->
<pre style="font-size: 1em;">
<code class="html">&lt;!-- interesting comment --&gt;
&lt;li class=&quot;list-group-item d-flex justify-content-between align-items-start&quot;&gt;
&lt;div class=&quot;ms-2 me-auto&quot;&gt;
    &lt;div class=&quot;fw-bold&quot;&gt;Subheading&lt;/div&gt;
    Content for list item
&lt;/div&gt;
&lt;span class=&quot;badge bg-primary rounded-pill&quot;&gt;14&lt;/span&gt;
&lt;/li&gt;
</code>
</pre>
    <h3>Some Javascript (most likely will not need)</h3>
<pre style="font-size: 1em;">
<code class="javscript">function inBoundsCheck(xM, yM, x, y, w, h){
    if( xM > x && xM < x+w && yM > y && yM < y+h){
    // interesting comment
        return true;
    }else{
        return false;
    }
}</code>
</pre>
</div>

<footer> Your name </footer>